%table{:width => "100%"}
  %tr
    %td{:align => "right"}
      %a{:href => "#", :class => "back"} Back
  %tr
    %td
      %input{:type => 'text', :id => "moviename"}
      %a{:href => "#", :class => "search"} Search
%div#searchList 
